<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>mobileUpload</servlet-name>
		<servlet-class>net.skysnapper.servlets.MobileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobileUpload</servlet-name>
		<url-pattern>/mobileuploadcallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>restApi</servlet-name>
		<servlet-class>net.skysnapper.servlets.RestApi</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>photoUpload</servlet-name>
		<servlet-class>net.skysnapper.servlets.UploadPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photoUpload</servlet-name>
		<url-pattern>/photouploadcallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>restApi</servlet-name>
		<servlet-class>net.skysnapper.servlets.RestApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>restApi</servlet-name>
		<url-pattern>/restapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>net.skysnapper.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ColoursServlet</servlet-name>
		<servlet-class>net.skysnapper.servlets.ColoursOfTheSkyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ColoursServlet</servlet-name>
		<url-pattern>/colours</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
</web-app>
